html, body {
	background-color: #282828;
	color: #00000;
	margin: 0;
	padding: 0;
	text-align: center;
}

#top {
	width: 780px;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
}

#NAGLOWEK {
	background-image: url("img/baner.png");
	height:200px
}

#MENU {
	height: 4100px;
	width: 150px;
	float: left;
	overflow: hidden;
	background-color: #808080;
}

#TRESC {
	height: 4100px;
	width: 630px;
	float: left;
	overflow: hidden;
	background-color: #ffffff;
	background-image: url("img/baner1.png");
	{ font-family: Arial, Times New Roman}
}

#STOPKA {
	clear: both;
	width: 100%;
	background-color: #ccc;
	}

	ul, ul li {
	display: block;
	list-style: none;
	margin: 0;
	padding: 0;
}

#MENU
ul, ul li {
	display: block;
	list-style: none;
	margin: 0;
	padding: 0;
}

ul {
	width: 200px;
}

ul a:link, ul a:visited {
	display: block;
	width: 186px;
	text-decoration: none;
	background-color: #808080;
	color: #000;
	padding: 5px;
	border: 2px outset #808080;
}

ul a:hover {
	border-style: inset;
	padding: 7px 3px 3px 7px;
}